<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<footer class="footer_area section_padding_130_0">
      <div class="container">
        <div class="row">
          <!-- Single Widget-->
          <div class="col-12 col-sm-6 col-lg-4">
            <div class="single-footer-widget section_padding_0_130">
              <!-- Footer Logo-->
              <div class="footer-logo mb-3"></div>
              <p>WeatherApp is completely creative, lightweight, clean app landing page.</p>
              
             
             
              <div class="footer_social_area"><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"><i class="fa-brands fa-instagram"></i></a><a href="https://www.linkedin.com/in/sudarshan-k-8465b3252/" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest"><i class="fa-brands fa-linkedin"></i></a><a href="https://github.com/Sudarshan619?tab=repositories" data-toggle="tooltip" data-placement="top" title="" data-original-title="Skype"><i class="fa-brands fa-github"></i></a><a href="" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></div>
            </div>
          </div>
         
          <!-- Single Widget-->
          <div class="col-12 col-sm-6 col-lg">
            <div class="single-footer-widget section_padding_0_130">
              <!-- Widget Title-->
              <h5 class="widget-title">Contact</h5>
              <!-- Footer Menu-->
              <div class="footer_menu">
                <ul>
                  
                  <li><a href="">Email Us: pujarsudarshan@gmail.com</a></li>
                  <li><a href="#">Contact :8105711631</a></li>
               
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
